@media screen and (min-width: 480px) {
    .container {
        width: 426px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .main-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

    /* FEATURE */

    .feature-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .feature-item {
        width: 356px;
    }

    .feature-title {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        width: 1200px;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-title {
        margin-bottom: 48px;
    }

    .feature-item {
        width: calc((100% - 72px)/4);
    }

    .icon-feature-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-accent-footer);
        border-radius: 4px;
        height: 112px;
        margin-bottom: 8px;
    }
}